* {
    box-sizing: border-box;
}

body {
    background-image: url("bg.png");
}

h1 {
    line-height: 150%;
    font-size: 32px;
}

.header-bar {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(178, 225, 243);
    text-align: center;
    padding: 20px;
    border-bottom: .5px solid rgb(189, 185, 185);
}

#add-name {
    margin-top: 10px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.button-bar {
    width: 25%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#new-buttons {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.img-bar {
    width: 75%;
    display: flex;
    flex-flow: row wrap;
}
